$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

body {
  padding: 0;
}

.container {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
  }
}

/* Number input directive */
.number-input {
  cursor: ew-resize;
}

.ui-layout-pane { /* all 'panes' */
    border: 0;
    padding: 0;
}
.ui-layout-resizer { /* all 'resizer-bars' */
    background: #DDD;
}
.ui-layout-resizer:hover { /* all 'resizer-bars' */
}
.ui-layout-toggler { /* all 'toggler-buttons' */
    background: #AAA;
}
.ui-layout-toggler:hover { /* all 'toggler-buttons' */
    background: #888;
}
