<div>
  <div data-drop="true" jqyoui-droppable="{multiple:true, onDrop:'onDrop'}" ng-click="selectGameObject($event, gameObject)">
    <span ng-style="{paddingLeft: 10 * level}" style="display: inline-block" ng-model="gameObject" data-drag="true" jqyoui-draggable="{placeholder:'keep'}" data-jqyoui-options="{revert: 'invalid', appendTo: 'body', helper: 'clone'}">{{gameObject.name}}</span>
    <div ng-if="!gameObject.isPrefab" class="glyphicon glyphicon-remove-circle pull-right" ng-click="removeGameObject($event, gameObject)"></div>
  </div>
</div>
