<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Project</a>
        <ul class="dropdown-menu" role="menu">
          <li><a ng-click="menuBar.requestLoadProject()">Load project</a></li>
          <li><a ng-click="menuBar.requestNewProject()">New project</a></li>
          <li><a ng-click="menuBar.requestSave()">Save</a></li>
          <li><a ng-click="menuBar.requestBuildDialog()">Build game</a></li>
          <li class="divider"></li>
          <li class="dropdown-submenu">
          <a tabindex="-1">Recent projects</a>
          <ul class="dropdown-menu">
            <li ng-repeat="recentProject in menuBar.recentProjects"><a tabindex="-1" ng-click="menuBar.requestLoadProject(recentProject)">{{recentProject}}</a></li>
          </ul>
          </li>
          <li class="divider"></li>
          <li class="dropdown-submenu">
          <a tabindex="-1">More options</a>
          <ul class="dropdown-menu">
            <li><a tabindex="-1">Second level</a></li>
            <li class="dropdown-submenu">
            <a>Even More..</a>
            <ul class="dropdown-menu">
              <li><a>3rd level</a></li>
            </ul>
            </li>
          </ul>
          </li>
        </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<input type="button" ng-click="menuBar.requestBuild()" value="Build" />
<div class="btn-group" data-toggle="buttons"><label class="btn btn-primary" ng-click="canvas.toggleEditMode()"> <input type="checkbox">Play</label></div>
