*.pyc
bin/
*.swp
docs/build/
/build/
src/engine/default_assets/factories/**/*.cpp
/project_test/*
src/editor/development/app/images/128/
src/editor/development/app/images/bar-alpha.png
src/editor/development/app/images/bar-opacity.png
src/editor/development/app/images/bar-pointer.png
src/editor/development/app/images/bar.png
src/editor/development/app/images/map-opacity.png
src/editor/development/app/images/map-pointer.png
src/editor/development/app/images/map.png
src/editor/development/app/images/preview-opacity.png
src/editor/development/app/images/ui-colorpicker.png
src/editor/development/app/styles/third_party/images/
src/editor/development/app/styles/third_party/jquery-ui.min.css
planning.ods
todo.txt
third_party/
src/editor/dist/
