<div>
  Camera<br/>
  Type: perspective
  <div><number-input bind="component.fields.near" change-notify-callback="component.propagateChange('near')" commit-callback="component._editorCommitCallback('near')" label="Near plane"></number-input></div>
  <div><number-input bind="component.fields.far" change-notify-callback="component.propagateChange('far')" commit-callback="component._editorCommitCallback('far')" label="Far plane"></number-input></div>
  <div><number-input bind="component.fields.width" change-notify-callback="component.propagateChange('width')" commit-callback="component._editorCommitCallback('width')" label="Near plane width"></number-input></div>
  <div><number-input bind="component.fields.fov" change-notify-callback="component.propagateChange('fov')" commit-callback="component._editorCommitCallback('fov')" label="FOV"></number-input></div>
  <div><number-input bind="component.fields.priority" change-notify-callback="component.propagateChange('priority')" commit-callback="component._editorCommitCallback('priority')" label="Draw priority"></number-input></div>
</div>
