<div class="ui-layout-center" id="center-container">
  <div class="ui-layout-west">Hierarchy
    <div ng-repeat="gameObject in gameObjects">{{gameObject.name}}</div>
  </div>
  <div class="ui-layout-center">
    <edit-canvas game-objects="{{gameObjects}}"></edit-canvas>
  </div>
  <div class="ui-layout-south" style="overflow-y: scroll" id="project-panel">
    <project-panel></project-panel>
  </div>
</div>
<div class="ui-layout-north">Controls <input type="button" ng-click="requestBuild()" value="Build" /></div>
<div class="ui-layout-east dropzone js-drop" id="drop1">
  <game-object-editor></game-object-editor>
</div>
