<div class="ui-layout-center" id="center-container">
  <div class="ui-layout-west">Hierarchy
    <div ng-repeat="gameObject in gameObjects" ng-click="selectGameObject($index)">{{gameObject.name}}</div>
    <br/><input type="button" ng-click="createGameObject()" value="+game object" />
  </div>
  <div class="ui-layout-center">
    <edit-canvas game-objects="{{gameObjects}}"></edit-canvas>
  </div>
  <div class="ui-layout-south scroll-y" id="project-panel">
    <project-panel></project-panel>
  </div>
</div>
<div class="ui-layout-north">
  <menu-bar></menu-bar>
  <input type="button" ng-click="menuBar.requestBuild()" value="Build" />
</div>
<div class="ui-layout-east dropzone js-drop scroll-y" id="drop1">
  <game-object-editor></game-object-editor>
</div>
