<div class="ui-layout-east dropzone scroll-y" ng-model="projectPanel.dropBucket" data-drop="true" data-jqyoui-options jqyoui-droppable="{multiple:true, onDrop:'projectPanel.onDrop()'}">
  <game-object-editor></game-object-editor>
</div>
<div class="ui-layout-center" id="center-container">
  <div class="ui-layout-west">
    <game-object-hierarchy></game-object-hierarchy>
  </div>
  <div class="ui-layout-center">
    <edit-canvas class="main-canvas" ng-show="canvas.editMode" game-objects="{{gameObjects}}"></edit-canvas>
    <embed class="main-canvas" ng-show="!canvas.editMode" src="lau_canvas.nmf" type="application/x-pnacl" />
  </div>
  <div class="ui-layout-south scroll-y" id="project-panel">
    <project-panel></project-panel>
  </div>
</div>
<div class="ui-layout-north">
  <menu-bar></menu-bar>
  <input type="button" ng-click="menuBar.requestBuild()" value="Build" />
  <div class="btn-group" data-toggle="buttons"><label class="btn btn-primary" ng-click="canvas.toggleEditMode()"> <input type="checkbox">Play</label></div>
</div>
